html, body {
    font-family: "Liberation Mono", sans-serif;
    background-color: #222222;
    color: #EEE;
    display: block;
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    box-shadow: none;
}

a:hover {
    text-decoration: none;
}